//
   Created by austin miles on 11/16/16.

html
    head
        title Web Dev Jeopardy!
        link(rel="stylesheet" href='css/app.css')

    body
        container
            div.row
                div.col.s2.card#header1
                    h4.card-content.white-text HTML
                div.col.s2.card#header2
                    h4.card-content.white-text CSS
                div.col.s2.card#header3
                    h4.card-content.white-text JS
                div.col.s2.card#header4
                    h4.card-content.white-text PUG
                div.col.s2.card#header5
                    h4.card-content.white-text SCSS
                div.col.s2.card#header6
                    h4.card-content.white-text JQUERY
            div.row
                div.col.s2.card#cat1_level200
                    h3.card-content.white-text $200
                div.col.s2.card#cat2_level200
                    h3.card-content.white-text $200
                div.col.s2.card#cat3_level200
                    h3.card-content.white-text $200
                div.col.s2.card#cat4_level200
                    h3.card-content.white-text $200
                div.col.s2.card#cat5_level200
                    h3.card-content.white-text $200
                div.col.s2.card#cat6_level200
                    h3.card-content.white-text $200

            div.row
                div.col.s2.card#cat1_level400
                    h3.card-content.white-text $400
                div.col.s2.card#cat2_level400
                    h3.card-content.white-text $400
                div.col.s2.card#cat3_level400
                    h3.card-content.white-text $400
                div.col.s2.card#cat4_level400
                    h3.card-content.white-text $400
                div.col.s2.card#cat5_level400
                    h3.card-content.white-text $400
                div.col.s2.card#cat6_level400
                    h3.card-content.white-text $400


            div.row
                div.col.s2.card#cat1_level600
                    h3.card-content.white-text $600
                    button.btn(data-target="questionModal") Modal
                div.col.s2.card#cat2_level600
                    h3.card-content.white-text $600
                div.col.s2.card#cat3_level600
                    h3.card-content.white-text $600
                div.col.s2.card#cat4_level600
                    h3.card-content.white-text $600
                div.col.s2.card#cat5_level600
                    h3.card-content.white-text $600
                div.col.s2.card#cat6_level600
                    h3.card-content.white-text $600

            div.row
                div.col.s2.card#cat1_level800
                    h3.card-content.white-text $800
                div.col.s2.card#cat2_level800
                    h3.card-content.white-text $800
                div.col.s2.card#cat3_level800
                    h3.card-content.white-text $800
                div.col.s2.card#cat4_level800
                    h3.card-content.white-text $800
                div.col.s2.card#cat5_level800
                    h3.card-content.white-text $800
                div.col.s2.card#cat6_level800
                    h3.card-content.white-text $800

            div.row
                div.col.s2.card#cat1_level1000
                    h3.card-content.white-text $1000
                div.col.s2.card#cat2_level1000
                    h3.card-content.white-text $1000
                div.col.s2.card#cat3_level1000
                    h3.card-content.white-text $1000
                div.col.s2.card#cat4_level1000
                    h3.card-content.white-text $1000
                div.col.s2.card#cat5_level1000
                    h3.card-content.white-text $1000
                div.col.s2.card#cat6_level1000
                    h3.card-content.white-text $1000

            div.modal#questionModal
                div.modal-content
                    h4 Modal Header
                    p A bunch of text
                div.modal-footer
                    a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="!#") Agree



        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
        script(src="js/main.js")



