//
   Created by austin miles on 11/16/16.

html
    head
        title Web Dev Jeopardy!
        link(rel="stylesheet" href='css/app.css')

    body
        header.center-align WEB DEV JEOPARDY!

        div.container
            div.row.center-align
                div.col.s4.offset-s1.card-panel#player1card
                    h1.card-title#player1name(contenteditable="true") Player 1
                    h3.card-content#player1score 0

                div.col.s4.offset-s2.card-panel#player2card
                    h1.card-title#player2name(contenteditable="true") Player 2
                    h3.card-content#player2score 0

            //button.btn.btn-large#startButton Start
            button.btn.btn-large#resetButton Reset

            div.row
                div.col.s2.card.header-card#header1
                    h4.card-content.white-text HTML
                div.col.s2.card.header-card#header2
                    h4.card-content.white-text CSS
                div.col.s2.card.header-card#header3
                    h4.card-content.white-text JS
                div.col.s2.card.header-card#header4
                    h4.card-content.white-text PUG
                div.col.s2.card.header-card#header5
                    h4.card-content.white-text SCSS
                div.col.s2.card.header-card#header6
                    h4.card-content.white-text JQUERY
            div.row
                div.col.s2.card.question-card#HTML_200
                    h3.card-content.white-text $200
                div.col.s2.card.question-card#CSS_200
                    h3.card-content.white-text $200
                div.col.s2.card.question-card#JS_200
                    h3.card-content.white-text $200
                div.col.s2.card.question-card#PUG_200
                    h3.card-content.white-text $200
                div.col.s2.card.question-card#SCSS_200
                    h3.card-content.white-text $200
                div.col.s2.card.question-card#JQUERY_200
                    h3.card-content.white-text $200

            div.row
                div.col.s2.card.question-card#HTML_400
                    h3.card-content.white-text $400
                div.col.s2.card.question-card#CSS_400
                    h3.card-content.white-text $400
                div.col.s2.card.question-card#JS_400
                    h3.card-content.white-text $400
                div.col.s2.card.question-card#PUG_400
                    h3.card-content.white-text $400
                div.col.s2.card.question-card#SCSS_400
                    h3.card-content.white-text $400
                div.col.s2.card.question-card#JQUERY_400
                    h3.card-content.white-text $400


            div.row
                div.col.s2.card.question-card#HTML_600
                    h3.card-content.white-text $600
                div.col.s2.card.question-card#CSS_600
                    h3.card-content.white-text $600
                div.col.s2.card.question-card#JS_600
                    h3.card-content.white-text $600
                div.col.s2.card.question-card#PUG_600
                    h3.card-content.white-text $600
                div.col.s2.card.question-card#SCSS_600
                    h3.card-content.white-text $600
                div.col.s2.card.question-card#JQUERY_600
                    h3.card-content.white-text $600

            div.row
                div.col.s2.card.question-card#HTML_800
                    h3.card-content.white-text $800
                div.col.s2.card.question-card#CSS_800
                    h3.card-content.white-text $800
                div.col.s2.card.question-card#JS_800
                    h3.card-content.white-text $800
                div.col.s2.card.question-card#PUG_800
                    h3.card-content.white-text $800
                div.col.s2.card.question-card#SCSS_800
                    h3.card-content.white-text $800
                div.col.s2.card.question-card#JQUERY_800
                    h3.card-content.white-text $800

            div.row
                div.col.s2.card.question-card#HTML_1000
                    h3.card-content.white-text $1000
                div.col.s2.card.question-card#CSS_1000
                    h3.card-content.white-text $1000
                div.col.s2.card.question-card#JS_1000
                    h3.card-content.white-text $1000
                div.col.s2.card.question-card#PUG_1000
                    h3.card-content.white-text $1000
                div.col.s2.card.question-card#SCSS_1000
                    h3.card-content.white-text $1000
                div.col.s2.card.question-card#JQUERY_1000
                    h3.card-content.white-text $1000

        div.modal#modal1
            div.modal-content.center-align
                h1#modal-header Modal Header
                h3#modal-question default
                hr
                h4.btnAnswer#q1
                h4.btnAnswer#q2
                h4.btnAnswer#q3

                //div.button.waves-effect.waves-light.btn.btnAnswer#q3

        div.modal#modal2
            div.modal-content.center-align
                h4#modal-player-status
                hr
                H4#modal-player-score

        div.modal#startModal
            div.modal-content.center-align
                h3#startHeader Welcome to Web Jeopardy
                hr
                h3#startInstructions Enter your names and choose a card!

        div.modal#endOfGameModal
            div.modal-content.center-align
                h2 WINNER!
                h3#winnerDisplayPlayer
                hr
                h3#winnerDisplayScore



        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
        script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
        script(src="js/accounting.js")
        script(src="js/main.js")



