@import 'bourbon';
@import 'materialize';
@import 'style';

$JeopardyPurple: #311b92;
$JeopardyPurpleLight: #b388ff;
$lightBlueAccent1: #80d8ff;
$greyDarken1: #757575;

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  background-color: $JeopardyPurpleLight;
  margin: 20px;
}

.col{
  &.s2{
    &.card{
      background-color: $lightBlueAccent1;
      text-align:center;
    }
  }
}

.modal{
  .modal-content{
    .btn{
      width:100%;
      margin: 5px;
      display: block !important;
      margin-top: 10px;
    }
  }
}

.disabled{
  background-color: $greyDarken1 !important;
}

.header-logo{
  width: 95%;
  margin: 15px;
  //height: 100px;
}

.score-box{
  //height: 100px;
}